{% extends "base.html" %}
{% block page %}home{% endblock %}
{% block content %}

<div class="content content-homepage">
	<!--<img class="homepage-background" src="/static/img/bluepower.jpg"/>-->

	<div class="home-box">
		<h1>Video-interview Anyone Online</h1>
		<p class="intro">It's easy and simple. Try it yourself.</p>
		<form method="POST" action="" class="home-form">
			{% csrf_token %}
			{{ user_form.as_p }}
			<input class="button" type="submit" value="GET STARTED"/>
		</form>
	</div>
</div>

{% endblock %}